.slick-loading .slick-list
{
    background: #fff url('/plugins/react-slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('/plugins/react-slick/slick.eot');
    src: url('/plugins/react-slick/slick.eot?#iefix') format('embedded-opentype'), url('/plugins/react-slick/slick.woff') format('woff'), url('./plugins/react-slick/slick.ttf') format('truetype'), url('/plugins/react-slick/slick.svg#slick') format('svg');
}