// for transition between peer component
.fastIn-enter {
  opacity: 0.01;
}

.fastIn-enter.fastIn-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fastIn-leave {
  opacity: 1;
}

.fastIn-leave.fastIn-leave-active {
  opacity: 0.01;
  transition: opacity 200ms;
}

// for transition in sub component
.slideToLeft-enter {
  transform: translate3d(100%, 0, 0);
}

.slideToLeft-enter.slideToLeft-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 375ms;
}

.slideToLeft-leave {
  transform: translate3d(0, 0, 0);
}

.slideToLeft-leave.slideToLeft-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: transform 375ms;
}

// for transition to parent component
.slideToRight-enter {
  transform: translate3d(-100%, 0, 0);
}

.slideToRight-enter.slideToRight-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 375ms;
}

.slideToRight-leave {
  transform: translate3d(0, 0, 0);
}

.slideToRight-leave.slideToRight-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: transform 375ms;
}

.slideDown-enter {
  max-height : 0;
}

.slideDown-enter.slideDown-enter-active {
  max-height: 500px;
  transition : max-height 375ms;
}

.slideDown-leave {
  max-height: 500px;
}

.slideDown-leave.slideDown-leave-active {
  max-height: 0;
  transition : max-height 375ms;
}

// for fade in image
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.zoomer-enter {
  transform: translate3d(0, 100%, 0);
}

.zoomer-enter.zoomer-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 300ms;
}

.zoomer-leave {
  transform: translate3d(0, 0, 0);
}

.zoomer-leave.zoomer-leave-active {
  transform: translate3d(0, 100%, 0);
  transition: transform 300ms;
}

@-webkit-keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(25deg); transform-origin: 50% 0%;}
  15% { transform: rotateZ(-18deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(15deg); transform-origin: 50% 0%;}
  35% { transform: rotateZ(-10deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(8deg); transform-origin: 50% 0%;}
  55% { transform: rotateZ(-5deg); transform-origin: 50% 0%;   }
  60% { transform: rotateZ(0); transform-origin: 50% 0%;   }
  100% { transform: rotateZ(0); transform-origin: 50% 0%;   }
}

@-moz-keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(25deg); transform-origin: 50% 0%;}
  18% { transform: rotateZ(-15deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(15deg); transform-origin: 50% 0%;}
  35% { transform: rotateZ(-10deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(8deg); transform-origin: 50% 0%;}
  55% { transform: rotateZ(-5deg); transform-origin: 50% 0%;   }
  60% { transform: rotateZ(0); transform-origin: 50% 0%;   }
  100% { transform: rotateZ(0); transform-origin: 50% 0%;   }
}

@keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(18deg); transform-origin: 50% 0%;}
  15% { transform: rotateZ(-15deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(12deg); transform-origin: 50% 0%;}
  35% { transform: rotateZ(-9deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(6deg); transform-origin: 50% 0%;}
  55% { transform: rotateZ(-3deg); transform-origin: 50% 0%;   }
  60% { transform: rotateZ(0); transform-origin: 50% 0%;   }
  100% { transform: rotateZ(0); transform-origin: 50% 0%;   }
}

/* Bell shake */
.bell-shake--hover:hover,
.bell-shake--hover:focus,
.bell-shake {
  -webkit-animation: bell-shake 2s linear 0s infinite;
  -moz-animation: bell-shake 2s linear 0s infinite;
  animation: bell-shake 2s linear 0s infinite;
}
