// for transition between peer component
.fastIn-enter {
  opacity: 0.01;
}

.fastIn-enter.fastIn-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fastIn-exit {
  opacity: 1;
}

.fastIn-exit.fastIn-exit-active {
  opacity: 0.01;
  transition: opacity 200ms;
}

// for transition in sub component
.slideToLeft-enter {
  transform: translate3d(100%, 0, 0);
}

.slideToLeft-enter.slideToLeft-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 375ms;
}

.slideToLeft-exit {
  transform: translate3d(0, 0, 0);
}

.slideToLeft-exit.slideToLeft-exit-active {
  transform: translate3d(-100%, 0, 0);
  transition: transform 375ms;
}

// for transition to parent component
.slideToRight-enter {
  transform: translate3d(-100%, 0, 0);
}

.slideToRight-enter.slideToRight-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 375ms;
}

.slideToRight-exit {
  transform: translate3d(0, 0, 0);
}

.slideToRight-exit.slideToRight-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: transform 375ms;
}

// for fade in image
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 375ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 375ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 375ms ease-in;
}

.slide-appear {
  transform: translate3d(0, 100%, 0);
}

.slide-appear.slide-appear-active {
  transform: translate3d(0, 0, 0);
  transition: transform 300ms;
}

.slide-enter {
  transform: translate3d(0, 100%, 0);
}

.slide-enter.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translate3d(0, 0, 0);
}

.slide-exit.slide-exit-active {
  transform: translate3d(0, 100%, 0);
  transition: transform 300ms;
}

@-webkit-keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(25deg); transform-origin: 50% 0%; }
  15% { transform: rotateZ(-18deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(15deg); transform-origin: 50% 0%; }
  35% { transform: rotateZ(-10deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(8deg); transform-origin: 50% 0%; }
  55% { transform: rotateZ(-5deg); transform-origin: 50% 0%; }
  60% { transform: rotateZ(0); transform-origin: 50% 0%; }
  100% { transform: rotateZ(0); transform-origin: 50% 0%; }
}

@-moz-keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(25deg); transform-origin: 50% 0%; }
  18% { transform: rotateZ(-15deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(15deg); transform-origin: 50% 0%; }
  35% { transform: rotateZ(-10deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(8deg); transform-origin: 50% 0%; }
  55% { transform: rotateZ(-5deg); transform-origin: 50% 0%; }
  60% { transform: rotateZ(0); transform-origin: 50% 0%; }
  100% { transform: rotateZ(0); transform-origin: 50% 0%; }
}

@keyframes bell-shake {
  0% { transform: rotateZ(0deg); transform-origin: 50% 0%; }
  5% { transform: rotateZ(18deg); transform-origin: 50% 0%; }
  15% { transform: rotateZ(-15deg); transform-origin: 50% 0%; }
  25% { transform: rotateZ(12deg); transform-origin: 50% 0%; }
  35% { transform: rotateZ(-9deg); transform-origin: 50% 0%; }
  45% { transform: rotateZ(6deg); transform-origin: 50% 0%; }
  55% { transform: rotateZ(-3deg); transform-origin: 50% 0%; }
  60% { transform: rotateZ(0); transform-origin: 50% 0%; }
  100% { transform: rotateZ(0); transform-origin: 50% 0%; }
}

/* Bell shake */
.bell-shake--hover:hover,
.bell-shake--hover:focus,
.bell-shake {
  -webkit-animation: bell-shake 2s linear 0s infinite;
  -moz-animation: bell-shake 2s linear 0s infinite;
  animation: bell-shake 2s linear 0s infinite;
}

.page-loader {
  -webkit-animation: rotate-progress-circle 899ms linear infinite;
  -moz-animation: rotate-progress-circle 899ms linear infinite;
  animation: rotate-progress-circle 899ms linear infinite;
}

@-webkit-keyframes rotate-progress-circle {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

@-moz-keyframes rotate-progress-circle {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

@keyframes rotate-progress-circle {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}
