/* NAV-HEADER GOES HERE */
// .nav-header {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   height: 58px;
//   padding: 12px 20px;
//   background-color: rgba(255, 255, 255, 0.95);
//   z-index: 99;
//   text-align: center;
//   overflow: hidden;
//   .nav-header-submit {
//     padding: 0 11px;
//     border: 1px solid @color-border;
//     border-radius: 6px;
//     background-color: transparent;
//     font-size: 11px;
//     font-weight: 700;
//     line-height: 30px;
//     box-shadow: 0 1px 1px rgba(0,0,0,.04);
//     cursor: pointer;
//     -webkit-transition: all .2s ease-in-out;
//     transition: all .2s ease-in-out;
//   }
//   .nav-header-submit:hover {
//     color: @color-font-prominent;
//     border-color: @color-border-hover;
//   }
//   .nav-header-logo {
//     position: absolute;
//     left: 48%;
//     display: inline-block;
//     width: 32px;
//     height: 32px;
//     img { width: 100%; }
//   }
//   .nav-header-user {
//     width: 32px;
//     height: 32px;
//     border-radius: 50%;
//     overflow: hidden;
//     img { width: 100%; }
//   }
// }

.container {
  padding: 0;
}

/* CONTENT GOES HERE */
.content {
  min-height: 400px;
  margin-top: 64px;
  margin-bottom: 64px;
}

/* RECAP GOES HERE */
.recap {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  color: @color-font-prominent;
  .recap-title {
    margin: 0 0 18px;
  }
  .recap-detail {
    .type-space;
  }
  .recap-icons {
    margin-top: 15px;
    margin-bottom: 15px;
    li {
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 22px;
    }
  }
}

/* PIC-HOLDER GOES HERE */
// .pic-holder {
//   margin-bottom: 30px;
//   padding-bottom: 30px;
//   box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
//   border-radius: 2px;
//   z-index: 1;
//   a { cursor: zoom-in; }
//   .pic-holder-info {
//     position: relative;
//     padding: 16px;
//     white-space: nowrap;
//     cursor: pointer;
//     .font-s3;
//     img {
//       width: 40px;
//       height: 40px;
//       margin-right: 16px;
//       border: 1px solid #f1f1f1;
//       border-radius: 50%;
//       vertical-align: top;
//     }
//     div {
//       display: inline-block;
//       .pic-holder-info-title {
//         display: block;
//         font-weight: 500;
//         font-size: 15px;
//         color: @color-font-prominent;
//       }
//       .pic-holder-info-subtitle {
//         display: block;
//         font-size: 14px;
//       }
//     }
//   }
//   .pic-holder-pic {
//     width: 100%;
//     margin-bottom: 12px;
//     img {
//       width: 100%;
//     }
//   }
//   .pic-holder-action {
//     height: 32px;
//     padding: 0 12px;
//     a {
//       display: inline-block;
//       height: 32px;
//       padding: 0 11px;
//       border: 1px solid @color-border;
//       border-radius: 6px;
//       background-color: transparent;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 30px;
//       box-shadow: 0 1px 1px rgba(0,0,0,.04);
//       cursor: pointer;
//       -webkit-transition: all .2s ease-in-out;
//       transition: all .2s ease-in-out;
//     }
//     a:last-child {
//       margin-left: 10px;
//     }
//     a:hover {
//       color: @color-font-prominent;
//       border-color: @color-border-hover;
//     }
//     .pic-holder-action-left {
//       i {
//         color: @color-heart;
//       }
//       span {
//         margin-left: 5px;
//       }
//     }
//   }
// }

/* NAVFOOTER GOES HERE */
.nav-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 58px;
  line-height: 58px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 99;
  text-align: center;
  overflow: hidden;
  transition: transform .2s linear,-webkit-transform .2s linear;
  li {
    display: inline-block;
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
  }
}
.nav-footer-pinned {
  transform: translateY(0);
}
.nav-footer-unpinned {
  transform: translateY(100%);
}

/* FOOTER GOES HERE */
.footer {
  text-align: center;
  .footer-logo {
    width: 50px;
    margin: auto;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  .footer-text {
    .font-s1;
    color: @color-font-prominent;
  }
}
