/* RECAP */
.component__Recap {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  color: @color-font-prominent;
  .Recap__title {
    margin: 0 0 18px;
  }
  .Recap__detail {
    .type-space;
  }
  .Recap__icons {
    margin-top: 15px;
    margin-bottom: 15px;
    li {
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 22px;
    }
  }
}

/* Empty */
.component__Empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 396px;
  & > .Empty__container {
      font-family: 'Microsoft Yahei';
      text-align: center;
      & > .Empty__header {
        font-size: 26px;
        color: #222;
      }
      & > .Empty__info {
        font-size: 14px;
        color: #666;
      }
    }
}

// Below is for material-ui component

/* DRAWER */
.drawer__profile {
  position: relative;
  height: 150px;
  background-size: cover;
  & > .drawer__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent 30%, transparent 70%, rgba(0, 0, 0, 0.3));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.3));
  }
  & .drawer__avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    padding: 24px 0 0px 26px
  }
  & .drawer__email {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 24px 24px 6px 20px;
    height: 50%;
    line-height: 55px;
    & > div {
      position: relative;
      & > span {
        position: absolute;
        left: 0;
        font-family: 'Microsoft yahei';
        font-size: 14px;
        color: #fff;
        text-shadow: 1px 2px 5px #222;
      }
      & > div {
        position: absolute;
        right: 0;
        & > svg {
          fill: #fff;
          vertical-align: middle;
        }
      }
    }
  }
}

/* Loading */
.component__Loading {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.component__FloatBtn {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
