body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#app {
  width: 100%;
  height: 100%;
}

.router {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  flex: 1 0 auto;
}

.deep {
  background-color: #eee;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.active {
  color: @color-font-prominent;
}

.highlight {
  color: @color-font-prominent;
}

.inset {
  padding: 5px 6px;
}

.bottom {
  padding: 12px 0;
  font-size: 14px;
  color: #333;
  text-align: center;
}
